upstream consul_servers {
{% for host in groups['nomad_servers'] %}
  server {{ hostvars[host]['ansible_host'] }}:8500;
{% endfor %}
}

server {
  listen 80;
  server_name consul.{{ domain }};

  location / {
      proxy_pass http://consul_servers;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;
  }
}
